.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.text-primary {
    color: #41B3A3; !important;
}

.text-primary:hover{
    color:#359487; !important;
}

.dropdown-center {
    margin-left: 0;
    margin-right: 0;
}