mark {
    background-color: #292b2c;
    color: #3b9488;
}



.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.text-primary {
    color: #41B3A3; !important;
}

.text-primary:hover{
    color:#359487; !important;
}

.dropdown-center {
    margin-left: 0;
    margin-right: 0;
}

#logo{
    width: 35px;
}

.fiches_tab_header{
    font-size: 1.2em;
}

#fichesView tr{
    border-bottom: #359487 solid 3px;
}

.nav-link:hover{
    color: #494D4F;
    font-weight:bold;
}

.nav-link{
    color: #292b2c;
    font-weight:bold;
}

#myNavbar{
    background: rgb(41,43,44);
    background: linear-gradient(90deg, rgba(41,43,44,1) 79%, rgba(65,179,163,1) 100%);
}

.navbar_dropdown{
    background: #359487;
    border: 2px solid #359487;
}

.navbar_dropdown a{
    color: #292b2c;
}

.navbar_dropdown a:hover{
    background: #292b2c;
    color: #359487;
}

#dropdownMenuButton:hover{
    background: transparent;

}

/* Accueil */

.marg_top{
    margin-top: 5vh;
}

#divAccueil1_1_img{
    width: 40vw;
}

.body{
    background-color: #292b2c;
    border-top: #3b9488 2px solid;
}

#divAccueil1_2 p {
    border-left: #3b9488 solid 1vw;
    padding-left: 10vh;
    margin-top: 5vh;
    margin-left: -10vh;
    font-size: 2em;
    color: #3b9488;
    font-weight: bold;
}

#divAccueil2_2 p {
    border-right: #292b2c solid 1vw;
    padding-right: 10vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-size: 2em;
    color: #292b2c;
    font-weight: bold;
}

.row2{
    background-image: url("../../medias/images/backgroun_logo.svg");
    background-size: 2000px;
}

#divAccueil2_1_img{
    width: 40vw;
    margin-top: 7vh;
}

#divAccueil3_2 p {
    border-left: #3b9488 solid 1vw;
    padding-left: 10vh;
    margin-top: 10vh;
    margin-left: -10vh;
    font-size: 2em;
    color: #3b9488;
    font-weight: bold;
}

#divAccueil3_1_img{
    width: 40vw;
}
